body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.barra-superior {
    position: absolute;
    display: flex;
    flex-direction: row;
}

.title {
    font-family: 'PT Serif', serif;
    
}

.team {
    column-count: 2;
    column-gap: 400px;
}


.footer {
    font-family: 'Montserrat', sans-serif;
}